<form [formGroup]="userReactiveForm" class="form">
  <div>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="john.doe@provider.com"
        formControlName="email"
      />
      @if (userReactiveForm.controls.email.hasError('email') &&
      !userReactiveForm.controls.email.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      } @if (userReactiveForm.controls.email.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      @if (userReactiveForm.controls.password.hasError('pattern') &&
      !userReactiveForm.controls.password.hasError('required')) {
      <!-- FIXME: describe password rules -->
      <mat-error>Please enter a valid password.</mat-error>
      } @if (userReactiveForm.controls.password.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-radio-group (change)="onChangeAccProcessOption($event)">
      <mat-radio-button checked [value]="accountProcessOptions.Register"
        >No account</mat-radio-button
      >
      <mat-radio-button [value]="accountProcessOptions.Loging"
        >Already have an account</mat-radio-button
      >
    </mat-radio-group>
  </div>

  <div>
    @if (accountProcessOptionSig() === accountProcessOptions.Loging) {

    <button mat-button (click)="onLogin()">Login</button>
    } @else {

    <button mat-button (click)="onRegister()">Register</button>
    }
  </div>
</form>
